AgilityCIS.Orion.Services/Service References/AgilitySvcProxy/Agility1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.agility.com/contracts" elementFormDefault="qualified" targetNamespace="http://schemas.agility.com/contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50369/AgilitySite/AgilityCIS.Orion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" />
  <xs:import schemaLocation="http://localhost:50369/AgilitySite/AgilityCIS.Orion.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts.Criteria" />
  <xs:element name="DeleteCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetAddressTypesResult" nillable="true" type="q1:ArrayOfAddressType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingCycles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingCyclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetBillingCyclesResult" nillable="true" type="q2:ArrayOfBillingCycle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingUnit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingUnitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetBillingUnitResult" nillable="true" type="q3:ArrayOfBillingUnit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCardTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetCardTypesResult" nillable="true" type="q4:ArrayOfCardType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetCompaniesResult" nillable="true" type="q5:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCheckScores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditCheckScoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetCreditCheckScoresResult" nillable="true" type="q6:ArrayOfCreditCheckScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditControlStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditControlStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetCreditControlStatusResult" nillable="true" type="q7:ArrayOfCreditControlStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerNo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetCustomerDetailsResult" nillable="true" type="q8:CustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerSummaryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seqPartyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerSummaryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetCustomerSummaryDetailsResult" nillable="true" type="q9:CustomerSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetCustomerTypesResult" nillable="true" type="q10:ArrayOfCustomerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndustries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIndustriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetIndustriesResult" nillable="true" type="q11:ArrayOfIndustry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDeliveries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDeliveriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetInvoiceDeliveriesResult" nillable="true" type="q12:ArrayOfInvoiceDelivery" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceStyles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceStylesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetInvoiceStylesResult" nillable="true" type="q13:ArrayOfInvoiceStyle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParties">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPartiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetPartiesResult" nillable="true" type="q14:ArrayOfParty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentMethods">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetPaymentMethodsResult" nillable="true" type="q15:ArrayOfPayMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriorities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrioritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetPrioritiesResult" nillable="true" type="q16:ArrayOfPriority" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentCustSearchResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seqPartyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentCustSearchResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetRecentCustSearchResultsResult" nillable="true" type="q17:ArrayOfRecentCustomerSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxIndicators">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaxIndicatorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetTaxIndicatorsResult" nillable="true" type="q18:ArrayOfTaxIndicator" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTreatmentTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetTreatmentTypesResult" nillable="true" type="q19:ArrayOfTreatmentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="user" nillable="true" type="q20:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="LoginResult" nillable="true" type="q21:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="customerDetails" nillable="true" type="q22:CustomerDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCustomerDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts.Criteria" minOccurs="0" name="criteria" nillable="true" type="q23:CustomerSearchCriteria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="SearchCustomersResult" nillable="true" type="q24:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="seqPartyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AgilityCIS.Orion.Services.DataContracts" minOccurs="0" name="GetContactsResult" nillable="true" type="q25:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>